In [11]:
import pandas as pd
import numpy as np
import os  

from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

nb_dir = os.getcwd()

In [2]:
X, y = make_classification(n_samples=1_000_000, n_features=100, n_informative=80, 
                          n_redundant=10, n_repeated=5, n_classes=2, weights=[.7, .3], 
                          flip_y=.05, random_state=1)
X = pd.DataFrame(X)
y = pd.Series(y)

display(y.tail(8))
display(X.tail(5))

999992    1
999993    0
999994    0
999995    0
999996    0
999997    0
999998    0
999999    0
dtype: int64

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
999995,7.638479,0.147993,-0.374315,-1.905672,2.100724,4.876262,3.539063,3.724045,-0.035807,12.583887,...,-27.349655,3.110569,-0.387177,-0.440046,-3.978399,-3.284399,-5.888020,-2.889172,1.054599,1.856324
999996,4.952854,-4.907971,-3.874430,3.285434,1.330459,3.820075,-4.343467,-0.446642,0.937792,-5.886366,...,-17.715663,-1.304413,-1.772847,-7.154627,-8.490058,-0.966438,-4.778945,-3.230334,4.550058,2.558468
999997,11.011109,2.142859,2.234868,6.290689,-1.949660,-11.516185,-1.778527,8.871909,-0.164823,14.109944,...,-23.813726,-4.862410,0.013348,-5.801830,-1.499662,5.745617,7.858887,4.896642,-6.953329,6.986822
999998,3.451271,6.111332,0.207175,-1.531731,-1.647576,-3.079046,0.488566,2.746394,-0.162541,17.769461,...,35.495048,8.325566,-1.254650,-7.690576,-1.708708,1.298043,-8.494639,3.796856,0.623049,0.414741
999999,1.207356,-2.188729,2.292431,-3.228291,-1.414930,2.512614,-0.476338,-1.169076,1.948679,7.196266,...,-10.082629,7.062203,0.874893,-4.480021,-2.348454,5.003265,6.683871,-1.251950,2.403161,5.155323

## Exporting to CSV to check file size

In [12]:

X.to_csv(f"{nb_dir}/x_100m_combo_100f_rs1.csv", index=False)
y.to_csv(f"{nb_dir}/y_100m_combo_100f_rs1.csv", index=False)

## Importing from CSV files

In [13]:
X = pd.read_csv(f"{nb_dir}/x_100m_combo_100f_rs1.csv")
y = pd.read_csv(f"{nb_dir}/y_100m_combo_100f_rs1.csv")

In [3]:
display(X.tail(5))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
999995,7.638479,0.147993,-0.374315,-1.905672,2.100724,4.876262,3.539063,3.724045,-0.035807,12.583887,...,-27.349655,3.110569,-0.387177,-0.440046,-3.978399,-3.284399,-5.888020,-2.889172,1.054599,1.856324
999996,4.952854,-4.907971,-3.874430,3.285434,1.330459,3.820075,-4.343467,-0.446642,0.937792,-5.886366,...,-17.715663,-1.304413,-1.772847,-7.154627,-8.490058,-0.966438,-4.778945,-3.230334,4.550058,2.558468
999997,11.011109,2.142859,2.234868,6.290689,-1.949660,-11.516185,-1.778527,8.871909,-0.164823,14.109944,...,-23.813726,-4.862410,0.013348,-5.801830,-1.499662,5.745617,7.858887,4.896642,-6.953329,6.986822
999998,3.451271,6.111332,0.207175,-1.531731,-1.647576,-3.079046,0.488566,2.746394,-0.162541,17.769461,...,35.495048,8.325566,-1.254650,-7.690576,-1.708708,1.298043,-8.494639,3.796856,0.623049,0.414741
999999,1.207356,-2.188729,2.292431,-3.228291,-1.414930,2.512614,-0.476338,-1.169076,1.948679,7.196266,...,-10.082629,7.062203,0.874893,-4.480021,-2.348454,5.003265,6.683871,-1.251950,2.403161,5.155323

## Creating Null values

In [14]:
X = X.mask(np.random.random(X.shape) < .001)
print(X.isnull().sum())

0     1007
1      977
2     1005
3     1009
4      971
      ...
95    1030
96    1016
97     996
98     983
99    1029
Length: 100, dtype: int64

## Dropping rows with null values

In [8]:
# X.dropna(inplace=True)
print(X.isnull().sum())
print(X.shape)

0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Length: 100, dtype: int64
(819131, 100)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2, random_state=1)

display(X_test.tail(5))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
555867,1.556190,0.020741,0.594385,1.602179,-2.687061,7.625087,5.387809,-5.646649,1.606883,-8.464047,...,-19.094069,-3.341379,-0.106984,-1.739371,-5.572937,0.921987,-2.738149,-6.499573,9.266651,0.374013
30004,1.786718,0.842391,3.965639,-3.174068,-5.188345,2.015973,-4.584984,-5.651028,-1.239148,2.752075,...,-8.751383,-7.896658,-1.146884,0.944707,4.804935,3.795107,2.522585,6.395679,-9.984395,4.980221
124730,-3.222011,-2.431973,4.345308,5.767431,0.497222,-1.337974,-3.637511,1.236147,-0.300381,5.997685,...,9.550286,1.383661,-2.262372,-3.513557,2.771777,-4.568016,-8.681522,-6.421727,-1.138215,-1.814730
195783,1.681436,0.115790,-0.730524,5.119406,7.808748,-5.768200,-1.952731,-6.920947,0.432778,11.822049,...,31.971540,11.068442,1.350913,6.448380,4.515823,2.133800,4.039534,0.323831,-5.551352,14.834031
32132,0.118524,1.635251,-2.128314,-5.030704,2.850023,7.090865,-3.217605,-3.202147,1.142939,10.396271,...,27.270797,-4.727120,0.120959,7.104006,6.068772,2.256933,-5.403182,3.784903,-7.736136,-2.790082

## StandardScaling the dataset

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_s = pd.DataFrame(scaler.transform(X_train))
X_test_s = pd.DataFrame(scaler.transform(X_test))

display(X_test_s.tail(5))
display(X_train_s.tail(5))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
199995,0.233894,-0.130800,-0.079946,0.499636,-0.343529,1.331197,1.009924,-1.220703,1.609091,-0.448792,...,-0.729773,-0.660671,-0.107167,-0.261030,-1.109468,0.173475,-0.463186,-1.449952,1.919276,0.014393
199996,0.280286,0.029543,0.585718,-0.415032,-0.852495,0.252191,-0.856923,-1.221545,-1.238748,0.039487,...,-0.334633,-1.487887,-1.147038,0.260377,0.953999,0.712899,0.533881,1.040989,-1.678611,0.907139
199997,-0.727684,-0.609444,0.660685,1.297296,0.304414,-0.392997,-0.679562,0.102831,-0.299384,0.180781,...,0.364577,0.197372,-2.262495,-0.605681,0.549739,-0.857266,-1.589633,-1.434914,-0.025321,-0.409815
199998,0.259099,-0.112252,-0.341553,1.173197,1.792175,-1.245224,-0.364181,-1.465745,0.434240,0.434337,...,1.221175,1.956079,1.350689,1.329516,0.896514,0.400991,0.821388,-0.131893,-0.850106,2.816942
199999,-0.055426,0.184269,-0.617551,-0.770584,0.783166,1.228430,-0.600958,-0.750635,1.144852,0.372268,...,1.041584,-0.912315,0.120770,1.456877,1.205292,0.424109,-0.968289,0.536673,-1.258427,-0.598851

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
799995,-0.109802,1.311169,0.250579,-0.066669,-1.062323,-1.270951,-2.257546,0.174368,-0.277687,0.509927,...,1.738474,1.029674,0.248583,-1.180288,-0.794304,-0.446795,-1.150870,1.905028,-0.103278,0.427684
799996,-0.242428,-0.683938,-1.038703,-0.798367,0.587756,-0.141151,-0.939593,-2.400886,-0.014191,-0.568090,...,0.029768,-0.203482,-0.066537,1.182197,-1.158374,0.656266,-1.107350,0.202308,-0.534869,-1.292747
799997,1.053093,0.432570,-0.000269,1.199095,-0.300752,-0.782728,1.913427,0.965863,-0.266340,1.847736,...,-0.713167,-0.471762,-1.189844,0.795304,-0.654405,-0.820381,2.053129,0.623386,1.967418,-1.965333
799998,-0.887692,0.062279,1.322342,-0.474799,0.172678,-0.296932,-0.195002,1.331360,-1.431434,0.418261,...,-1.617856,0.085730,0.214741,0.008294,1.259127,0.002429,0.131542,-1.188826,-0.710689,-0.046643
799999,0.357023,0.104474,-0.532220,-0.065066,1.065065,-0.116713,-1.105216,-0.416866,0.505567,-2.261887,...,-0.766374,-1.359885,1.582292,0.023063,0.884696,-0.247716,-0.758353,1.448288,1.018068,-0.640923

## MinMax Scaling the dataset

In [22]:
from sklearn.preprocessing import MinMaxScaler
MMscaler = MinMaxScaler()
MMscaler.fit(X_train_s_scaled)

X_train_s_mm = pd.DataFrame(MMscaler.transform(X_train_s_scaled))
X_test_s_mm = pd.DataFrame(MMscaler.transform(X_test_s_scaled))

display(X_test_s_mm.tail(5))
display(X_train_s_mm.tail(5))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
199995,0.537131,0.454154,0.518492,0.560652,0.494506,0.619928,0.589974,0.360612,0.675717,0.455385,...,0.399148,0.464638,0.522966,0.463583,0.390091,0.531989,0.449073,0.363569,0.725550,0.520679
199996,0.541848,0.470346,0.585812,0.466083,0.445064,0.511950,0.393341,0.360525,0.379102,0.505550,...,0.440411,0.382849,0.410560,0.516995,0.610566,0.589461,0.556168,0.615147,0.354379,0.610304
199997,0.439360,0.405818,0.593393,0.643123,0.557449,0.447385,0.412022,0.498258,0.476941,0.520066,...,0.513428,0.549474,0.289984,0.428277,0.567372,0.422169,0.328082,0.365088,0.524938,0.478091
199998,0.539694,0.456027,0.492036,0.630292,0.701974,0.362101,0.445241,0.335128,0.553351,0.546116,...,0.602880,0.723361,0.680554,0.626517,0.604424,0.556229,0.587049,0.496689,0.439851,0.802035
199999,0.507714,0.485971,0.464124,0.429322,0.603956,0.609644,0.420301,0.409499,0.627364,0.539739,...,0.584126,0.439757,0.547605,0.639564,0.637416,0.558692,0.394820,0.564212,0.397727,0.459113

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
799995,0.502185,0.599771,0.551919,0.502100,0.424681,0.359527,0.245814,0.505698,0.479201,0.553882,...,0.656900,0.631765,0.561421,0.369414,0.423765,0.465902,0.375209,0.702412,0.516896,0.562170
799996,0.488700,0.398295,0.421533,0.426449,0.584974,0.472588,0.384633,0.237875,0.506645,0.443128,...,0.478465,0.509841,0.527358,0.611426,0.384865,0.583427,0.379884,0.530442,0.472372,0.389451
799997,0.620425,0.511046,0.526550,0.632970,0.498662,0.408384,0.685139,0.588012,0.480382,0.691327,...,0.400882,0.483316,0.405933,0.571793,0.438713,0.426099,0.719350,0.572970,0.730516,0.321928
799998,0.423091,0.473652,0.660307,0.459903,0.544652,0.456999,0.463060,0.626023,0.359033,0.544465,...,0.306408,0.538436,0.557763,0.491172,0.643168,0.513765,0.512953,0.389942,0.454233,0.514551
799999,0.549651,0.477913,0.472754,0.502266,0.631341,0.475033,0.367188,0.444210,0.560780,0.269109,...,0.395326,0.395505,0.705590,0.492685,0.603161,0.487113,0.417369,0.656282,0.632578,0.454889

## Imputing missing values with iterative imputer

In [23]:
imputer = IterativeImputer()
imputer.fit(X_test_s_mm)

# X_train_s_mm_i = imputer.fit_transform(X_train_s_scaled_mm)
# X_train_s_mm_i = pd.DataFrame(X_train_s_mm_i)
# display(X.tail(5))
# print(f'{X_train_s_mm_i.isnull().sum()}')

/anaconda/envs/azureml_py38/lib/python3.8/site-packages/sklearn/impute/_iterative.py:637: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=None,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0)

In [25]:
# X_test_s_mm_i = imputer.transform(X_test_s_mm)
X_test_s_mm_i = pd.DataFrame(X_test_s_mm_i)

display(X_test_s_mm_i.tail(5))
print(f'{X_test_s_mm_i.isnull().sum()}')

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
199995,0.537131,0.454154,0.518492,0.560652,0.494506,0.619928,0.589974,0.360612,0.675717,0.455385,...,0.399148,0.464638,0.522966,0.463583,0.390091,0.531989,0.449073,0.363569,0.725550,0.520679
199996,0.541848,0.470346,0.585812,0.466083,0.445064,0.511950,0.393341,0.360525,0.379102,0.505550,...,0.440411,0.382849,0.410560,0.516995,0.610566,0.589461,0.556168,0.615147,0.354379,0.610304
199997,0.439360,0.405818,0.593393,0.643123,0.557449,0.447385,0.412022,0.498258,0.476941,0.520066,...,0.513428,0.549474,0.289984,0.428277,0.567372,0.422169,0.328082,0.365088,0.524938,0.478091
199998,0.539694,0.456027,0.492036,0.630292,0.701974,0.362101,0.445241,0.335128,0.553351,0.546116,...,0.602880,0.723361,0.680554,0.626517,0.604424,0.556229,0.587049,0.496689,0.439851,0.802035
199999,0.507714,0.485971,0.464124,0.429322,0.603956,0.609644,0.420301,0.409499,0.627364,0.539739,...,0.584126,0.439757,0.547605,0.639564,0.637416,0.558692,0.394820,0.564212,0.397727,0.459113

0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Length: 100, dtype: int64

## Exporting dataset after stand/norm/II

In [26]:
X_test_s_mm_i.to_csv(f"{nb_dir}/X_test_100m_combo_100f_rs1_smmi.csv")

In [ ]:
pipe_model = ('XGB', Pipeline([("scaling", StandardScaler()), ("model", xgb.XGBClassifier(use_label_encoder=False))]))
print(pipe_model[0][1])

In [ ]:
cv_results = cross_val_score(pipe_model[0][1], X, Y, cv=10, scoring=scoring)
print(round(cv_results.mean(), 3))