# Pandas Exploration

## Imports

In [5]:
import pandas as pd

import numpy as np                # for manipulation of examples

## Simple dataframe things

In [10]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
display(df)

print(f'rounding all values in a dataframe: \n{df.round(-1)}\n')

print(f'unique values in "a": {pd.unique(df["a"])}\n')

print(f'number of unique values in a: {len(pd.unique(df["a"]))} \n')

cprint(f'number of unique values in all columns: \n{df.nunique(axis=0)} \n', 'blue')

print(f'count of each unique value column "a": \n{df["a"].value_counts()} \n')

print(f'percentage of each unique value in colunn "a": \n{df["a"].value_counts(normalize=True)} \n')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

rounding all values in a dataframe:
    a   b   c
0   0   0   0
1   0   0  10
2  10  10  10

unique values in "a": [1 4 7]

number of unique values in a: 3

NameError: name 'cprint' is not defined