In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification

In [29]:
%%time
X,y = make_classification(n_samples=1_000_000, n_features=100, n_informative=80, 
                          n_redundant=10, n_repeated=5, n_classes=2, weights=[.7, .3], 
                          flip_y=.05, random_state=1)
X = pd.DataFrame(X)
y = pd.Series(y)

display(X.tail(5))
display(y.tail(5))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
999995,7.638479,0.147993,-0.374315,-1.905672,2.100724,4.876262,3.539063,3.724045,-0.035807,12.583887,...,-27.349655,3.110569,-0.387177,-0.440046,-3.978399,-3.284399,-5.888020,-2.889172,1.054599,1.856324
999996,4.952854,-4.907971,-3.874430,3.285434,1.330459,3.820075,-4.343467,-0.446642,0.937792,-5.886366,...,-17.715663,-1.304413,-1.772847,-7.154627,-8.490058,-0.966438,-4.778945,-3.230334,4.550058,2.558468
999997,11.011109,2.142859,2.234868,6.290689,-1.949660,-11.516185,-1.778527,8.871909,-0.164823,14.109944,...,-23.813726,-4.862410,0.013348,-5.801830,-1.499662,5.745617,7.858887,4.896642,-6.953329,6.986822
999998,3.451271,6.111332,0.207175,-1.531731,-1.647576,-3.079046,0.488566,2.746394,-0.162541,17.769461,...,35.495048,8.325566,-1.254650,-7.690576,-1.708708,1.298043,-8.494639,3.796856,0.623049,0.414741
999999,1.207356,-2.188729,2.292431,-3.228291,-1.414930,2.512614,-0.476338,-1.169076,1.948679,7.196266,...,-10.082629,7.062203,0.874893,-4.480021,-2.348454,5.003265,6.683871,-1.251950,2.403161,5.155323

999995    0
999996    0
999997    0
999998    0
999999    0
dtype: int32

Wall time: 9.2 s

In [30]:
X.to_csv(r".\processed_datasets\100m_combo_100f.csv", index=False)

In [31]:
y.to_csv(r".\processed_datasets\y_100m_combo_100f_rs1.csv", index=False)

## Creating Null values

In [ ]:
X = X.mask(np.random.random(df.shape) < .1)
X.

In [ ]:
X[975_000:][:1] = 
X[975_000:][14:21] =